<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="sgu.ltudm.songssingersserverproject.models.Server" />
    <module name="SongsSingersServerProject" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="sgu.ltudm.songssingersserverproject.encryptions.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>